<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>movieViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BA812E41EE8C8640035BCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BA812F81EE8C8640035BCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BA813031EE8C8640035BCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
